.App {
  text-align: center;
}

.homepage-logo {
  height: 40vmin;
  pointer-events: none;
  margin-bottom: 10px;
}

.homepage-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
