.App {
  text-align: center;
}

.homepage-logo {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vw;
}

.feed-link {
  margin-top: 2vw;
  font-size: 3vw;
  text-decoration: none;
  color: black;
}

.feed-link:visited {
  color: black;
}
